.userRecipesList {
    margin: 1em 
}

.recipeName {
    /* border: solid 1px; */
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: rgba(11, 162, 254, 0.5);
    cursor: pointer
}

.recipeName:hover {
    color: var(--accent-color);
    font-weight: bold;
}