.navbar-items {
    display: flex;
    flex-direction: row;
}

.navbar {
    --primary-color: #0ba2fe;
    /* --secondary-color: ; */
    --accent-color: rgba(205, 85, 68);
    --border-color: rgba(205, 85, 68, 0.5)
}

@media only screen and (max-width: 450px) {
    

    .navbar {
        /* position: fixed; */
        /* border: solid 1px red; */
        height: 2em;
    }

    .navbar-items {
        margin: 0 -1em;
        height: 100%;
    }

    .navbar-item {
        flex: 1 1 auto;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .navbar-item:not(:last-child) {
        border-right: solid 1px var(--border-color);
        /* opacity: 0.5; */
    } 

}

@media only screen and (min-width: 451px) {
    .navbar {
        display: flex;
        flex-direction: row;
        height: 3em;
        justify-content: flex-end;
    }

    .navbar-items {
        width: 50vw;
        height: 100%;
        /* justify-content: flex-start; */
        /* border: solid 1px black; */
    }
    
    .navbar-item {
        flex: 1 1 auto;
        border: none;
        cursor: pointer;
    }
    
    .navbar-item:hover {
        background: aqua;
    }
    
}

/* @media only screen and (min-width: 900px) {

} */