.loadingRecipe,
.loadingRecipes {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
  padding: 0 0.5em;
  height: calc(100% - 2.5em);
}

.notFoundPage {
  font-size: 1.5em;
}

.reloadRecipeBtn {
  cursor: pointer;
  background-color: rgba(99, 121, 110, 0.75);
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 1px grey;
}

@media only screen and (max-width: 450px) {
  .authenticatedApp {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  .navbar {
    order: 2;
    position: fixed;
    top: calc(100% - 2.5em);
    left: 1em;
    width: calc(100vw - 2em);
  }

  .mainContent {
    height: 100vh;
    order: 1;
    padding: 1em 1.5em;
  }

  .reloadRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 2.5em);
  }
}

@media only screen and (min-width: 451px) {
  .mainContent {
    padding: 2em 5em;
  }

  .reloadRecipe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 2.5em);
  }
}

@media only screen and (min-width: 800px) {
  .mainContent {
    padding: 3em 10em;
    /* width: 900px; */
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .mainContent {
    padding: 3em 0;
    width: 800px;
    margin: 0 auto;
  }
}
