.createRecipeForm {
    --add-and-create-button-color: rgba(99, 121, 110,0.75);
    --input-border-color: rgb(11, 162, 254, 0.5);
    margin: 0 2em;
    display: flex;
    flex-direction: column;
}

.createRecipeBtn {
    cursor: pointer;
    background: var( --add-and-create-button-color);
    border: none;
    border-radius: 10px;
    padding: 0.25em 0.5em;
    font-weight: bold;
    margin: 5em auto 5em auto;
    width: 33vw;
}

.recipeNameInput {
    width: 100%;
    padding: 0.35em 0.4em;
    border-radius: 0.5em;
    border: solid 1px var(--input-border-color);
}

.nameRequiredMsg,
.errorMsg {
    color: var(--accent-color);
    font-weight: bold;
    border: solid 2px var(--accent-color);
    border-radius: 0.5em;
    padding: 0 0.5em;
    margin-top: 0.5em;
}

.loadingMsg {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    /* border: solid 2px var(--primary-color);
    border-radius: 0.5em; */
    padding: 0 0.5em;
    margin-top: 0.5em;
}

.loadingSpinner {
    width: 10px;
    height: 10px;
}

@media only screen and (max-width: 450px) {
    .createRecipeForm {
        display: flex;
        flex-direction: column;
    }
    
    .recipeNameInput {
        margin: 0 0 0.5em 0;
        padding: 0.35em 0.4em;
        width: 85%;
        transition: width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .recipeNameInput:focus {
        width: 100%
    }

    .createRecipeBtn {
        /* margin: 5em 0 5em 0; */
        width: 100%
    }
}