.createRecipeForm {
    --add-and-create-button-color: rgba(99, 121, 110,0.75);
    --input-border-color: rgb(11, 162, 254, 0.5);
    display: flex;
    flex-direction: column;
}

.createRecipeBtn {
    cursor: pointer;
    background: var( --add-and-create-button-color);
    border: none;
    border-radius: 10px;
    padding: 0.25em 0.5em;
    font-weight: bold;
    margin: 5em auto 5em auto;
    width: 33vw;
}

.recipeNameInput {
    width: 100%;
    padding: 1em 0.45em;
    border-radius: 0.5em;
    border: solid 1px var(--input-border-color);
}

.nameRequiredMsg,
.errorMsg {
    color: var(--accent-color);
    font-weight: bold;
    border: solid 2px var(--accent-color);
    border-radius: 0.5em;
    padding: 0 0.5em;
    margin-top: 0.5em;
}

.loadingMsg {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0 0.5em;
    margin-top: 0.5em;
}

.loadingSpinner {
    width: 10px;
    height: 10px;
}

@media only screen and (max-width: 450px) {
    .createRecipeForm {
        display: flex;
        flex-direction: column;
    }
    
    .recipeNameInput {
        margin: 0 0 0.5em 0;
        padding: 0.35em 0.4em;
        width: 85%;
        transition: width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .recipeNameInput:focus {
        width: 100%
    }

    .createRecipeBtn {
        width: 100%
    }
}

@media only screen and (min-width: 1000px) {
    .createRecipeForm {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto 1fr auto 4em;
        grid-column-gap: 2em;
        column-gap: 2em;
        grid-template-areas: 
          "recipe-name recipe-name" 
          "ingredients instructions"
          "ingredients notes"
          "messages create-btn"
    }
    .recipeNameAndInput {
        grid-area: recipe-name;
    }

    .recipe h2 {
        cursor: pointer;
    }

    .ingredients {
        grid-area: ingredients;
    }

    .instructions {
        grid-area: instructions;
    }
    
    .notes {
        grid-area: notes;
    }

    .recipeNameLabel {
        justify-self: end;
        padding-right: 0.5em;
    }

    .recipeNameInput {
        height: 1.5em;
    }

    .createRecipeBtn {
        grid-area: create-btn;
        justify-self: center;
        width: 50%;
        align-self: center;
        justify-self: center;
    } 

    .nameRequiredMsg,
    .loadingMsg,
    .errorMsg {
        
        margin-top: 0.5em;
        /* align-self: center; */
        /* height: 3em; */
    }

    .messages{
        grid-area: messages;
    }
}