@media only screen and (max-width: 450px) {
    .recipeNameInput {
        margin: 0 0 0.5em 0;
        padding: 0.35em 0.4em;
        border-radius: 0.5em;
        border: solid 1px rgba(0,0,0,0.25);
    }

    .createRecipeBtn {
        margin-bottom: 3em;
    }
}